$primaryColor : #333;
$secondaryColor : lightblue;

* {
    padding: 0px;
    margin: 0;
  }
  
body {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-gap: 0px;
    font-family: Helvetica;
    
    @media only screen and (max-width: 1300px) {
        body{
            width: 100%;

        }
    }

    .header {
        background-color: $primaryColor;
        height: min-content;
        padding: 20px 10px;
        color: white;
        font-size: 25px;
        grid-column: 1/4;
        display: flex;
        align-items: center;

        .club-name {
            margin-left: 1rem;
            color: white;
        }
        
        #club-name {
            text-decoration: none;
        }
          
        .logo {
            width: 50px;
            height: 50px;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
      
    .nav-bar {

        grid-column: 1/4;

        .nav-item{
            font-style: bold;
            text-align: center;
            margin: 10px 20px;
        }

        .nav-item:hover{
            background-color: white;
        }
    }

    .mid-part{
        grid-column: 2/3;
        margin-top: 20px;
        
        .card-img{
            object-fit: cover;
            height: 20vh;
        }
    }

   
}