$primaryColor : #333;
$secondaryColor : lightblue;

* {
    padding: 0px;
    margin: 0;
  }
  
body {
    display: grid;
    grid-template-rows: 2.5fr 1.5fr auto;
    grid-template-columns: 15% 70% 15%;
    grid-gap: 0px;
    
    font-family: Helvetica;
  
    .header {
        background-color: $primaryColor;
        color: white;
        text-align: start;
        text-justify: center;
        margin-bottom: 0;
        font-size: 30px;
        grid-column: 1/4;
        display: flex;
        align-items: center;

        .club-name {
            margin-left: 1rem;
        }
          
        .logo {
            width: 50px;
            height: 50px;
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

      
    .nav-bar {
        font-size: 15rem;
        margin: 10px;
        grid-column: 1/4;
       
        .nav-item{
            margin: 30px;
            font-style: bold;
            text-align: center;
        }
    }

    .mid-part{
        grid-column: 2/3;
        
        .card-img{
            object-fit: cover;
            height: 20vh;
        }
    }
}