$primaryColor : red;
$secondaryColor : blue;

*{
    padding: 0px;
    margin: 0;
}

body{
    
    display: grid;
    grid-template-rows: 2.5fr 1fr 15fr 1fr;
    grid-template-columns: auto;
    grid-gap: 0px;
    color: white;
    font-family: Helvetica;
    
}

.header{
    background-color: red;
    grid-column: 1/3;
    text-align: start;
    text-justify: center;
    margin-bottom: 0;
    font-size: 30px;
    display: flex;
    align-items: center;
    
    
}
.club-name{
    margin-left: 1rem;
}
.logo
{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    margin-left: 1rem;
}
.nav-bar{
grid-column: 1/3;
margin-top: 0;
grid-row: 2/3;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
   li a:hover {
    background-color: #111;
  }
  

.midpart{
    width: 100vw;
    grid-row: 3/4;
    
    justify-self: center;
    display: grid;
    grid-template-columns: 5% 65% 25% 5%;
    
    justify-self: center;
}
.main{
    margin: 20px;
    background-color: green;
    grid-column: 2/3;
}
.side{
    background-color: yellow;
    grid-column: 3/4;
    margin:20px}

@media only screen and (max-width: 800px) {
    .midpart{
        grid-template-columns: 1fr 18fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .main {
        grid-column: 2/4;
    }
    .side {
        grid-column: 2/4;
        margin: 20px;
    }
}


.footer{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
}