*{
    padding: 0px;
    margin: 0;
}

body{

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 2fr 1.2fr 15fr 2fr;
    grid-gap: 5px;
    
}

.header{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: start;

    
}
.nav{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 10px;
    text-align: center;

}
.main{
    margin: 20px;
    background-color: green;
    text-align: center;
}
.side{
    background-color: yellow;
    margin: 10px 20px;
}
.footer{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
}