*{
    padding: 10px;
    margin: 0;
}

body{

    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: 1.5fr 1.2fr 15fr 1.5fr;
    grid-gap: 8px;
}

.header{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.nav{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
}
.main{
    margin: 20px;
    background-color: green;
}
.side{
    background-color: yellow;
}
.footer{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 3;
}